* {
  box-sizing: border-box;
}

body {
  font-family: "Futura", sans-serif;
  font-size: 12pt;
  margin: 0;
  padding: 1rem;
  /* display: grid;
  place-items: center;
  min-height: 100vh; */
}
::marker {
  font-weight: 600;
  color: tomato;
  font-size: 12pt;
}
